// Розділ Герой
.hero {
    margin-left: auto;
    margin-right: auto;

    max-width: 1280px;
    min-height: 680px;

    text-align: center;

    // фонові зображення
    @media screen and (max-width: 576px) {
        background-image: 
        url(../../img/hero/mobile/slider3.jpg),
        linear-gradient(to right, #fff 155px, #191c26 155px);
    }

    @media screen and (min-width: 577px) and (max-width: 960px) {
        background-image: 
            url(../../img/hero/tablet/slider3.jpg),
            linear-gradient(to right, #fff 12%, #191c26 12%);
    }

    @media screen and (min-width: 961px) {
        background-image:
            url(../../img/hero/pc/slider3.jpg),
            linear-gradient(to right, #fff 12%, #191c26 12%);
    }

    background-color: getColor('main-bg-cl');
    background-size: 1125px 680px,  cover;
    background-position: top right, center;
    background-repeat: no-repeat;
}

// Фонове зображення для retina-екранів
@media screen and (max-width: 576px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: 
                url(../../img/hero/mobile/slider3-2x.jpg),
                linear-gradient(to right, #fff 12%, #191c26 12%);
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 960px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: 
                url(../../img/hero/tablet/slider3-2x.jpg),
                linear-gradient(to right, #fff 12%, #191c26 12%);
        }
    }
}

@media screen and (min-width: 961px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: 
                url(../../img/hero/pc/slider3-2x.jpg),
                linear-gradient(to right, #fff 12%, #191c26 12%);
        }
    }
}

.hero__container {
    position: relative;
    display: flex;
}

// Соціальні мережі
.hero__left-side {
    display: flex;
    align-items: flex-end;

    width: 100px;
}

.social-links-list {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    transform: translateX(28px) rotate(-90deg);
    transform-origin: left top;

    // лінія
    &::before {
        content: '';
        display: block;

        width: 60px;
        height: 1px;

        background-color: getColor('title');
    }
}

.social-links-list__link {
    margin-left: 40px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;

    color: getColor('title');
}

// Оффер
.hero__group{
    flex-grow: 1;
    margin-left: 100px;
    padding-top: 272px;
    padding-bottom: 206px;

    max-width: 500px;
}

.subtitle {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    // на темному фоні
    &--light-mode {
        color: getColor('secondary-light');
    }

    // на світлому фоні
    &--dark-mode {
        color: getColor('title');
    }

    // лінія
    &::before {
        content: "";
        display: inline-block;
        margin-right: 20px;
       
        width: 60px;
        height: 1px;

        background-color: currentColor;
    }
}

.main-title {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    text-align: start;

    color: getColor('white');
}

.offer {
    margin-top: 0;
    margin-bottom: 0;

    max-width: 400px;

    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    text-align: start;

    color: getColor('secondary');
}

// Слайдер
.slider__pagination {
    position: absolute;
    top: 50%;
    right: 55px;
}

.slider__item {
    margin-left: auto;
    margin-bottom: 12px;
    
    width: 8px;
    height: 2px;
    
    background-color: getColor('secondary');

    // активний слайд
    &--active {
        width: 18px;
        background-color: getColor('white');
    }
}

// Кнопки перемикання слайдів
.slider__controls {
    position: absolute;
    bottom: 40px;
    right: 55px;

    display: flex;
}

.slider__item-control:nth-child(n+2) {
    margin-left: 26px;
}

.slider__btn {
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;

    min-width: 60px;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: getColor('secondary-light');
    background-color: transparent;

    border: none;
    border-bottom: 1px solid getColor('secondary-light');
    cursor: pointer;

    // вид кнопок
    &--prev {
        text-align: start;
    }
    &--next {
        text-align: end;
    }

    // ховер та фокус
    &:hover,
    &:focus {
        color: getColor('white');
        border-color: getColor('white');
    }

    // активна кнопка
    &--active {
        color: getColor('white');
        border-color: getColor('white');
    }
}