// Розділ послуги та ціни
.price {
    margin-left: auto;
    margin-right: auto;

    max-width: 480px;

    background-color: #111319;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    // фонові зображення
    @media screen and (max-width: 576px) {
        background-image: url(../img/price/mobile/img.png);
    }

    @media screen and (min-width: 577px) and (max-width: 960px) {
        background-image: url(../img/price/tablet/img.png);
    }

    @media screen and (min-width: 961px) {
        background-image: url(../img/price/pc/img.png);
    }
    
    // планшет
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    // пк
    @media screen and (min-width: 1200px) {
        max-width: 100%;
    }
}

// Фонове зображення для retina-екранів
@media screen and (max-width: 576px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .price {
            background-image: url(../img/price/mobile/img-2x.png);
        }
    }
}

@media screen and (min-width: 577px) and (max-width: 960px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .price {
            background-image: url(../img/price/tablet/img-2x.png);
        }
    }
}

@media screen and (min-width: 961px) {

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .price {
            background-image: url(../img/price/pc/img-2x.png);
        }
    }
}

// Таблиці цін
.price-list {
    margin-top: 44px;
    margin-bottom: 50px;

    // телефон та планшет
    @media screen and (max-width: 1199.5px) {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;

        background-image: 
            linear-gradient(to bottom,
            rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
    }

    // пк
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;

        perspective: 1000px;
    }
}

.price-list__item {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    text-align: center;

    color: #AAAAAA;

    // телефон
    @media screen and (max-width: 767.5px) {
        font-size: 14px;
        line-height: 2.14;
    }

    // телефон та планшет
    @media screen and (max-width: 1199.5px) {
        &:nth-child(1) {
            margin-bottom: 20px;
        }
    }

    // пк
    @media screen and (min-width: 1200px) {
        padding-top: 30px;  
        padding-bottom: 30px;
        padding-right: 40px;
        padding-left: 40px;

        flex-basis: 50%;

        // фон для першого списку
        &:nth-child(1) {
            background-image: linear-gradient(to bottom,
                    rgb(23, 26, 36), rgba(23, 26, 36, 0.2));
    
            transform-origin: left center;
            transform: rotateY(15deg);
        }
    
        // фон для другого списку
        &:nth-child(2) {
            background-image: linear-gradient(to bottom,
                    rgb(9, 11, 19), rgba(9, 11, 19, 0.2));
    
            transform-origin: right center;
            transform: rotateY(-15deg);
        }
    }
}

// Блок цін 
.price-inner__item {
    display: flex;
    align-items: baseline;
    gap: 6px;

    // лінія
    &::before {
        content: "";
        display: inline-block;
        flex-grow: 1;
        height: 1px;
        background-color: rgba(157, 164, 189, 0.122);
    }

    // отступи
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.price-inner__desc {
    order: -1;
}

// Кнопка
.price__wrapper {
    text-align: center;
}